@model SliderInfoDetailVM
@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create">
        <div class="form-group">

            <label>SliderInfo Title</label>
            <input asp-for="Title" type="text" disabled class="form-control">

            <label>SliderInfo Description</label>
            <input asp-for="Description" type="text" disabled class="form-control">

        </div>
        <a asp-action="Index" class="btn btn-primary text-white">back</a>
    </form>
</div>

